*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes floatBadge {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -8px, 0);
  }
}


.float-badge {
  animation: floatBadge 2.8s ease-in-out infinite;
  will-change: transform;
}


.inter-font {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
  
}


.nav-container{
    display: flex;
    flex-direction: row;
    width: 75vw;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #190730;
    /* background-color: #250D44 ; */
    height: 92px;
    padding-left: 200px;
    padding-right: 200px;
}
nav ul{
  
    display: flex;
    align-items: center;
 
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    color: white;
    
}
 .ul-holder{
    /* border: 1px solid red; */
    width: 218px;
 }

 nav button{
    width: 135px;
     background: linear-gradient(20deg, #F7E93F 15%, #FB09B4, #9100F8);
    border-radius: 100px;
    border-style: none;
    color: white;
    height: 44px;
   
}

.hero-sec{
    /* height: 760px; */
    height: 100vh;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.hero-sec h2{
    color: rgba(255, 255, 255, 1);
font-family: Inter;
font-style: Extra Bold;
font-size: 60px;
font-weight: 800;
}
.hero-sec p{
    opacity: 0.8;
    font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 19px;
}

.hero-img{
    /* border: 1px solid yellow; */
    text-align: center;
    color: white;
    padding-top: 36px;
    position: relative;
    /* position: absolute; */
    
}
.hero-mic{
    position: absolute;
    top: 20%;
    right: 38%;
    /* display: none; */
}
.new{
    background-color: #00FF88;
    position: absolute;
    top: 10%;
    right: 20%;
    height: 38px;
    width: 75px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: rgba(0, 201, 0, ) 0px 7px 29px 0px;
}

.hamburgr{
    display: none;
}


.btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
}
.spotify-btn
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(20deg, #F7E93F 15%, #FB09B4, #9100F8);
    color: white;
    width: 210px;
    height: 44px;
    border-radius: 35px;
}
.email-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: none;
    color: white;
    width: 147px;
    height: 44px;
    border-radius: 35px;
    color: rgb(43, 255, 43);
    border: 1px solid rgb(44, 243, 44);
}
.hero-sec h2{
    font-size: 60px;
    font-family: ;
    padding-top: 40px;
    padding-bottom: 5px;
}

.hero-sec p{
    font-size: 16px;
    font-family: ;
}
.mic
{
    left: 100px;
}

.about{

    background-color: #1A0B2E;
}

.abt-container{
    text-align: center;
    color: white;
    max-width: 1200px;
    height: auto;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.abt-container h2{
    font-family: Inter;
font-style: Bold;
font-size: 48px;
font-weight: 700;
    margin-top: 70px;

    
}
.text-box{
    margin-top: 20px;
    display: inline-block;
    max-width: 500px;
    opacity: 0.8;
    font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
}

.rate{
    /* border: 1px solid red;*/
    border-top: 0.2px dotted grey;
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 65px ;
    margin-bottom: 120px;
}
.ratings p{
    opacity: 0.8;
    font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
}
.fa-star{
    font-size: 40px;
}
.ratings h1{
    font-family: Inter;
font-style: Black;
font-size: 48px;
font-weight: 900;
    color: #00FF88;
    padding-bottom: 15px;
    
    
}
.chs{
    background: rgba(35, 14, 61, 1);
    /* padding-bottom: 120px; */
}
.chs-materials{
    margin: 0 auto;
    border: 1px solid rgba(35, 14, 61, 1);
    max-width: 1200px;
}
.chs-materials h1{
    text-align: center;
    margin: 40px;
    color: white;
    margin-top: 120px;
    font-style: Bold;
font-size: 48px;
font-weight: 700;
}
.headphone{
    grid-area: hp;
    
}
.device{
    grid-area: dev;
}
.location{
    grid-area: loc;
}
.zap{
    grid-area: zap;
}
.resource{
    grid-area: res;
}
.gcard h3{
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
}
.gcard p{
    opacity: 0.6;
    font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}
.gcard-holder{
    
    max-width: 1200px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-areas: 
                "hp  dev  dev"
                "hp  loc  loc"
                "zap zap  res";


    gap: 20px;
    margin-bottom: 120px;
}
.gcard{
    background-color: rgba(40, 6, 87, 0.815);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border-radius: 30px;
    
    
}
.gcard img{
    max-width: 60px;
}
.featured{
    /* border: 1px solid greenyellow; */
    background-color: rgba(26, 11, 46, 1);
    padding-top: 120px;
    padding-bottom: 120px;
}

.feat-ep-holder h1{
    text-align: center;
    color: white;
    font-size: 48px;
}
.ep-holder{
    display: ;
}


.ep-card{
  border-radius: 18px;
  overflow: hidden;
  background: rgba(255,255,255,0.06);
  border: 1px solid rgba(255,255,255,0.08);
}

.ep-media{
  position: relative;
  aspect-ratio: 16 / 9;  
  width: 100%;
}

.ep-media iframe{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.ep-body{
  padding: 16px;

}
.card-body{
    color: white;
    margin: 24px;
}
.card-body h3{
    margin-bottom: 12px;

}
.card-body h3{
    font-style: Bold;
font-size: 24px;
font-weight: 700;
line-height: 29px;
}
.card-body p{
    opacity: 0.6;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.ep-meta{
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  margin-left: 24px;
  margin-bottom: 24px;
  color: #00FF88;
  font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
line-height: 24px;
}

.ep-meta .dot{
  /* width: 10px;
  height: 10px;
  border-radius: 50%; */
  /* background: #22c55e; */
}


.ep-holder{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    gap: 30px;
    /* border: 1px solid red; */
    margin-bottom: 120px;
}

.host
{
    max-width: 1200px;
    /* border: 1px solid red; */
    margin: 0 auto;


}
.host h2{
    font-style: Bold;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
}
.host h1{
    text-align: center;
    color: white;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}

.host-holder{
    /* margin-top: ; */
    max-width: 1200px;
    /* border: 1px solid yellow; */
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    color: white;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    margin-top: 40px;
}
.host-body{
    display: grid;
    grid-template-rows:  repeat(2, 1fr);
    /* gap: 20px; */
}
.host-body p{
    opacity: 0.6;
    font-style: Regular;
font-size: 16px;
font-weight: 400;
/* line-height: 24px; */
}
.host-icon-holder{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    gap: 15px;
}
.ic-bg{
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}



footer{
    background-image: url(../assets/footer-bg.png);
    height: 412px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-content{
    margin: 0 auto;
    /* border: 1px solid red; */
    height: 100%;
    /* width: ; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.footer-content p{
    opacity: 0.6;
    font-style: Medium;
font-size: 16px;
font-weight: 500;
}

.ft-logo-holder{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: center ;
    gap: 20px;
}
.ft-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
    gap: 10px;
}
.ft-img img{
  width: 410px;     
  max-width: 80vw;  
  height: auto;
  display: block;
}





/* Responsive part */
@media screen and (max-width: 576px) {
    .hero-sec{
        background-size: 100%;
        background-repeat: no-repeat;
      

    }

    .nav-container{
        width: 100%px;

    }
    .nav-container img{
        width: 70%;
        
    }
    .ul-holder, nav button{
        display: none;
    }
    nav{
        padding-left: 20px;
        padding-right: 20px;

    }

    .hamburgr{
        display: inline-block;
    }
    

    

    footer{
        /* background-size: 100%; */
        /* background-repeat: no-repeat; */
        background-size: cover;

        height: 248px;
    }

    .ft-logo-holder{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);

    }
    .ft-img img{
        max-width: 219px;
    }
    

.host h1{
    font-family: Inter;
font-style: Bold;
font-size: 32px;
font-weight: 700;

}
    .host-holder{
            flex-direction: column;
            text-align: center;
            margin-left: 20px ;
            margin-right: 20px;
            margin-bottom: 40px;
            margin-top: 20px;
    }

    .host-body{
    display: grid;
    grid-template-rows: 36px repeat(1, 1fr);
    /* gap: 20px; */
}

.host-icon-holder{
    justify-content: center;
    margin-top: 26.5;
}

.ep-holder{
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
}
.feat-ep-holder h1{
    font-family: Inter;
font-style: Bold;
font-size: 32px;
font-weight: 700;

}
.featured{
     padding-top: 50px;
    padding-bottom: 30px;
}


.chs-materials{
    margin-left: 20px;
    margin-right: 20px;
}
.chs-materials h1{
    text-align: center;
    margin-top: 40px;
    color: white;
    margin-bottom: 16px;
    font-family: Inter;
font-style: Bold;
font-size: 32px;
font-weight: 700;
}
.gcard-holder{
    
    max-width: 1200px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-areas: 
                "hp"
                "dev"
                "loc"
                "zap"
                "res";


    gap: 16px;
    margin-bottom: 40px;
}
.gcard{
  
    flex-direction: column;
    padding: 24px;
    gap: 20px;
    border-radius: 24px;
    
    
}
.rate{
    /* border: 1px solid red;*/
    border-top: 0.2px dotted grey;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px ;
    margin-bottom: 20px;
    gap: 40px;
}
.abt-container
{
    padding:20px;
    padding-top: 0px;
}
.abt-container h2
{
    margin-top: 40px;
}
.hero-img img{
    width: 90%;
    /* position: absolute; */
    left: 0px;

}
.hero-sec{
    display: relative;
}
.hero-img{
    /* position: absolute;     */
    /* display: none; */
    width: 50%;
     box-sizing: border-box;
        width: 90%;
        top: 12px;
}
.hero-sec{
    height: 200px;
}

    .hero-img img{
        width: 200px;
        height: 200px;
        
    }

    .hero-mic img{
        
        width: 60px;
        height: 90px;

        

    }
    .hero-mic{
        top: 150px;
        left: 130px;
    }

/* ----------------------------------------------------- */



.hero-sec{
    height: auto;                 
    min-height: 60vh;           
    padding: 40px 16px 40px;      
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .hero-img{
    position: relative;          
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding-top: 0;
    text-align: center;
  }

  
  .hero-img .main-img{
    width: min(320px, 82vw);
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .hero-mic{
    position: absolute;
    left: 50%;
    top: 30%;                   
    transform: translate(-50%, -50%);
    right: auto;
    z-index: 2;
  }
  .hero-mic img{
    width: min(90px, 22vw);
    height: auto;
    display: block;
  }

  .new{
    position: absolute;
    top: 9%;
    left: 66%;                  
    right: auto;

    width: 86px;
    height: 38px;
    padding-top: 9px;
    border-radius: 999px;
    z-index: 3;
  }

  
  .hero-sec h2{
    font-size: 44px;
    padding-top: 18px;
    padding-bottom: 8px;
    line-height: 1.05;
  }

  .hero-img > p{
    font-size: 14px;
    line-height: 1.45;
    max-width: 34ch;
    margin: 0 auto;
    opacity: 0.9;
  }

  .btn-holder{
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    flex-wrap: nowrap;            
  }

  .spotify-btn,
  .email-btn{
    width: 170px;
    height: 44px;
    border-radius: 999px;
  }




}


