*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav-container{
    display: flex;
    flex-direction: row;
    width: 75vw;
    /* border: 1px solid red; */
    justify-content: space-between;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #190730;
    /* background-color: #250D44 ; */
    height: 92px;
    padding-left: 200px;
    padding-right: 200px;
}
nav ul{
  
    display: flex;
    align-items: center;
 
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    color: white;
    
}
 .ul-holder{
    /* border: 1px solid red; */
    width: 218px;
 }

 nav button{
    width: 135px;
     background: linear-gradient(20deg, #F7E93F 15%, #FB09B4, #9100F8);
    border-radius: 100px;
    border-style: none;
    color: white;
    height: 44px;
   
}

.hero-sec{
    /* height: 760px; */
    height: 100vh;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-img{
    /* border: 1px solid yellow; */
    text-align: center;
    color: white;
    padding-top: 36px;
    position: relative;
    
}
.hero-mic{
    position: absolute;
    top: 20%;
    right: 38%;
    /* display: none; */
}
.new{
    background-color: #00FF88;
    position: absolute;
    top: 10%;
    right: 20%;
    height: 38px;
    width: 75px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    color: black;
    box-shadow: rgba(0, 201, 0, .) 0px 7px 29px 0px;
}

.hamburgr{
    display: none;
}


.btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    
}
.spotify-btn
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(20deg, #F7E93F 15%, #FB09B4, #9100F8);
    color: white;
    width: 210px;
    height: 44px;
    border-radius: 35px;
}
.email-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: none;
    color: white;
    width: 147px;
    height: 44px;
    border-radius: 35px;
    color: rgb(43, 255, 43);
    border: 1px solid rgb(44, 243, 44);
}
.hero-sec h2{
    font-size: 60px;
    font-family: ;
    padding-top: 40px;
    padding-bottom: 5px;
}

.hero-sec p{
    font-size: 16px;
    font-family: ;
}
.mic
{
    left: 100px;
}

.about{

    background-color: #1A0B2E;
}

.abt-container{
    text-align: center;
    color: white;
    max-width: 1200px;
    height: auto;
    /* border: 1px solid yellow; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abt-container h2{
    font-size: 48px;
    font-weight: 900;
    margin-top: 70px;
    
}
.text-box{
    margin-top: 20px;
    display: inline-block;
    max-width: 500px;
}

.rate{
    /* border: 1px solid red; */
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 65px ;
    margin-bottom: 120px;
}
.ratings{
    /* border: 1px solid green; */
}
.fa-star{
    font-size: 40px;
}
.ratings h1{
    font-size: 48px;
    color: #00FF88;
    padding-bottom: 15px;
    
    
}
.chs{
    background: rgba(35, 14, 61, 1);
    padding-bottom: 120px;
}
.chs-materials{
    margin: 0 auto;
    border: 1px solid rgba(35, 14, 61, 1);
    max-width: 1200px;
}
.chs-materials h1{
    text-align: center;
    margin: 40px;
    color: white;
    margin-top: 120px;
}
.headphone{
    grid-area: hp;
    
}
.device{
    grid-area: dev;
}
.location{
    grid-area: loc;
}
.zap{
    grid-area: zap;
}
.resource{
    grid-area: res;
}
.gcard-holder{
    
    max-width: 1200px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-areas: 
                "hp  dev  dev"
                "hp  loc  loc"
                "zap zap  res";


    gap: 20px;
}
.gcard{
    background-color: rgba(40, 6, 87, 0.815);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    border-radius: 30px;
    
    
}
.gcard img{
    max-width: 60px;
}



/* Responsive part */
@media screen and (max-width: 576px) {
    .hero-sec{
        background-size: 100%;
        background-repeat: no-repeat;

    }

    .nav-container{
        width: 100%px;

    }
    .nav-container img{
        width: 70%;
        
    }
    .ul-holder, nav button{
        display: none;
    }
    nav{
        padding-left: 20px;
        padding-right: 20px;

    }

    .hamburgr{
        display: inline-block;
    }
    

    /* .hero-img{
        box-sizing: border-box;
        width: 50px;
    } */



}

